// fonts
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, "Times New Roman", serif;

// media queries for breakpoint
$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// widths
$width: 1140; // content max-width
